body {
    font-family: arial, helvetica;
    background: rgb(250, 167, 111);
}

.menu {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 350px;
    margin: auto;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: flex;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #ef8354;
}